@charset "UTF-8";

body {
    background-color: #faf7d1;
    font-size: 20px;
    text-align: justify;
}
header {
    background-color: #010103;
    color: #f8f7f7;
    text-align: left;
    padding: 15px 30px;
}
header .a {
    background-color: #d60e0e;
    color: rgb(247, 245, 245);
    text-align: left;
}
h2 {
    color: #050502;
}
.modulos {
    font-weight: bold;
    font-size: 25px;
}
.rodape {
    background-color: #010103;
    color: #f8f7f7;
    text-align: center;
    padding: 15px 30px;
}
.rede-social .a .img{
    border-radius: 100%;
    text-align: center;
}