@charset "UTF-8";

body {
    background-color: #ffffff;
    color: #030303;
    font-size: 20px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: #fcfcca;
    color: #070707;

    text-align: center;
    padding: 15px 30px;
}

h2 {
    color: #fdfdfd;
}
.modulos {
    font-weight: bold;
}
.rodape {
    background-color: #fcfcca;
    color: #070707;
    text-align: center;
    padding: 15px 30px;
}
.rede-social .a .img{
    border-radius: 100%;
    text-align: center;
}